.aboutMeH1 {
    background-color: var(--shadow);

    font-family: var(--primary-font);
    text-align: center;
}

.aboutMePContainer {
    font-family: var(--secondary-font);
    font-size: large;
    text-align: center;

    width: 90vw;
    margin: auto;
}

@media (min-width:1024px) {
    .aboutMePContainer {
        position: relative;

        font-family: var(--secondary-font);
        font-size: larger;
        text-align: center;

        width: 70vw;
        margin: auto;
    }

}