/*MOBILE & TABLET CONFIGURATIONS (<1064PX)*/
.header-container {
    position: fixed;

    right: 0;
    margin-top: -.9rem;

    z-index: 1;
    width: 100vw;
    padding: 1rem 0 1rem 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;


    background-color: var(--dark);
}

.hamburger-menu {
    background-color: var(--dark);

    display: flex;
    justify-content: flex-end;

    border: none;
    
    width: 60vw;
    padding: 1rem ;

}

#hamburger-menu-icon {
    font-size: x-large;
    color: var(--lighter);
}

/*try to add dynamic font sizing*/
.nav-mobile-open {
    background-color: var(--dark);

    font-family: var(--primary-font);
    text-align: center;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.nav-mobile-close {
    display: none;
}

.HeaderA {
    text-decoration: underline;
    font-weight: 600;
    font-size: large;
    color: var(--lighter);

    padding: 1rem;
}

#navContainer {
    display: none;
}

#name-mobile {
    font-family: var(--primary-font);
    align-self: center;
    padding-left: 2vw;
    
}

#name-mobile a {
    text-decoration: none;
    color: var(--lighter);
    font-weight: 500;
    font-size: x-large;
}

@media (min-width: 1064px) {
    .header-container {
        position: sticky;

        background-color: var(--dark);

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        top: 0;
        padding: 0;
        margin-top: -.9rem;

    }

    #navContainer {
        background-color: var(--dark);

        font-family: var(--primary-font);

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100vw;
        padding: 2.5vh 0;
        margin: .5rem;
    }
    
    #name {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 1vw;
    }

    #name a {
        text-decoration: none;
        color: var(--lighter);
        font-weight: 500;
        font-size: x-large;
    }

    #name-mobile{
        display: none;
    }

    .HeaderA {
        text-decoration: none;
        color: var(--lighter);
        font-weight: 500;
        font-size: x-large;
        padding: 1rem;
    }

    .HeaderA:hover {
        text-decoration: underline;
    }

    .hamburger-menu {
        display: none;
    }

}