.header-container {
    position: fixed;

    right: 0;
    margin-top: -.9rem;
    padding: 0;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.hamburger-menu {
    background-color: var(--color-primary);

    display: flex;
    justify-content: flex-end;

    border: none;
    border-radius: 0 0 0 5px;
    /*top-left, top-right, bottom-right, bottom-left*/

    width: 100vw;
    padding: 1rem;
}

/*try to add dynamic font sizing*/
.nav-mobile-open {
    background-color: var(--color-primary);

    font-family: var(--primary-font);
    text-align: center;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.nav-mobile-close {
    display: none;
}

.HeaderA {
    text-decoration: none;
    color: white;

    padding: 1rem;
}

#ipadAndUpNav {
    display: none;
}

@media (min-width: 768px) {
    .header-container {
        position: sticky;

        background-color: var(--color-primary);

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        top: 0;
        padding: 0;
        margin-top: -.9rem;
    }

    #ipadAndUpNav {
        background-color: var(--color-primary);

        font-family: var(--primary-font);
        font-size: large;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        width: 100vw;
        margin: .5rem;
    }

    .HeaderA {
        text-decoration: none;
        color: white;

        padding: .5rem;
    }

    .HeaderA:hover {
        transform: translateY(-3px);
    }

    .hamburger-menu {
        display: none;
    }

}