.iconCardContainer {
    background-color: var(--color-background-lighter);

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: .5em .5em .5em .5em;
    /*top,right,bottom,left*/

    border-color: var(--color-accent-2);
    border: solid;
    border-radius: .3rem;
    border-width: .1rem;

    box-shadow: .3em .3em .3em var(--shadow);
    /* bottom, right side, blur, color*/
}

.icon {
    color: var(--color-accent-1);
    font-size: xxx-large;

    padding: 0;
}

.iconCarcP {
    margin: .2em 0 0 0;
}