.projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
}

.projectP {
    font-family: var(--primary-font);
    text-align: center;
    font-size: calc(.3vw + 1vh + 1vmin);

    width: 90vw;
    padding: 0;
    margin: 0;
}

.projectA {
    color: var(--color-accent-1);
    text-decoration: none;
}

.projectH1 {
    background-color: var(--dark);

    font-family: var(--primary-font);
    font-size: calc(1.5vw + 1vh + 1vmin);
    text-align: center;
    color: var(--lighter);

    margin: 0;
    width: 100vw;
}
.carouselContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100VW;
}

.carouselButton {
    background-color: var(--dark);
    color: var(--lighter);
    font-size: calc(1vw + 1vh + 1vmin);;
    
    border-radius: 1vw 1vw;
    padding: .4vw;

    cursor: pointer;
}

.projectCards > *:nth-child(2){
        display:none;
    }

.carousel-indicator{
    font-family: var(--primary-font);
    color: var(--dark);
    font-size: small;
}

/*DESKTOP CONFIGURATION (<1024px)*/

@media (min-width: 1024px) {
    .projects-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        padding-bottom: 4vh;
    }

    .projectP {
        font-family: var(--primary-font);
        font-size: calc(.5vw + .8vh + 1vmin);
        text-align: center;

        width: 90vw;
        padding: 0;
        margin: 0;
    }

    .projectCards{
        display:flex;
        justify-content:center;
        gap:2rem;
    }

    .projectCards > *:nth-child(2){
        display:flex;
        justify-content:center;
    }

    .carousel-indicator{
        display: none;
    }
}