.projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2rem;
}

.projectP {
    font-family: var(--primary-font);
    text-align: center;

    width: 90vw;
    padding: 0;
    margin: 0;
}

.projectA {
    color: var(--color-accent-1);
    text-decoration: none;
}

.projectH1 {
    background-color: var(--shadow);

    font-family: var(--primary-font);
    text-align: center;

    margin: 0;
    width: 100vw;
}

@media (min-width: 1024px) {
    .projects-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        padding-bottom: 1rem;
    }

    .projectP {
        font-family: var(--primary-font);
        font-size: large;
        text-align: center;

        width: 90vw;
        padding: 0;
        margin: 0;
    }
}