.projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: flex-start;
    align-content: flex-start; */
    gap: 2rem;
}

.projectP {
    font-family: var(--primary-font);
    text-align: center;
    font-size: medium;

    width: 90vw;
    padding: 0;
    margin: 0;
}

.projectA {
    color: var(--color-accent-1);
    text-decoration: none;
}

.projectH1 {
    background-color: var(--dark);

    font-family: var(--primary-font);
    text-align: center;
    color: var(--lighter);

    margin: 0;
    width: 100vw;
}
.carouselContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100VW;
}

.carouselButton {
    background-color: var(--dark);
    color: var(--lighter);
    font-size: x-large;
    
    border-radius: 2vw 2vw;
    padding: .4vw;

    cursor: pointer;
}

.carousel-indicator{
    font-family: var(--primary-font);
    color: var(--dark);
    font-size: small;
}

@media (min-width: 1024px) {
    .projects-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        padding-bottom: 1rem;
    }

    .projectP {
        font-family: var(--primary-font);
        font-size: large;
        text-align: center;

        width: 90vw;
        padding: 0;
        margin: 0;
    }
}