.skillsContainer{
    font-family: var(--secondary-font);   
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;

}

.skillsH1{
    font-family: var(--primary-font);  
    color: var(--lighter) ;  
    text-align: center;  

    background-color: var(--dark);
}
